button { 
  background: transparent;
  color: #FFF;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 0;
  height: 56px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    height: 72px;
    top: 0;
    width: 100%;
    opacity: 0.9;
    background: #09ff00;
    padding: 4px 6px 0px 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
  }

  *:focus {
    outline: 0;
  }

  html, body, #root {
    height: 100%;
  }

  body {
    background-color: rgba(228, 228, 228);
    color: #000;
    -webkit-font-smoothing: antialiased;
  }

  body, input, button {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
  }

  button {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  h1 {
    text-decoration: none;
    font-size: 48;
    color: #000;
    max-width: 450px;
    line-height: 48px;
    margin-top: 80px;
  }

  h3 {
    text-decoration: none;
    font-size: 48;
    color: rgb(255, 255, 255);
    margin-top: -5px;
    margin-left: -5px;
  }

  strong {
    font-size: 24px;
    margin-left: 8px;
    color: #000;
  }
  
  .DragonCard {
    margin: 0 auto;
    padding: 0px 8px;
    margin-top: 76px;
    margin-bottom: 12px;
    max-width: 700px;
    background-color: rgba(228, 228, 228, 0.651);
  }

  .Link {
    background: #FFF;
    border-radius: 5px;
    width: 100%;
    padding: 24px;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 16px;
    transition: transform 0.3s;
  }

  .LinkImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #000;
  }

  .Icon {
    margin-left: auto;
    color: #000;
  }

.dropDownDiv{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}


